<label>Title</label><br/>
<%= text_control :title, :size => 50 %>
<br />
<label>Content:</label>
<br />
<%= text_area_control :content, :rows => 20, :cols => 100 %>
<br /><br />
<%= checkbox_field :name => "publish", :label => "Publish?" %>
<br /><br />