<h4>Formatting Content</h4>
<p>Feather uses <a href="http://hobix.com/textile/quick.html" target="_blank">Textile</a> to allow you to format your articles. Learn it.</p>
<p>
If you're too lazy, here is a quick guide stolen from 37signals. Ironic isn't it?
<table id="textile_guide" cellpadding="2" cellspacing="0">
   <tr>
     <td>
       <strong>Bold phrase</strong>
     </td>
     <td>
       *Bold phrase*
     </td>
   </tr>
   <tr>
     <td>
       <span style="font-style: italic;">Italic phrase</span>
     </td>
     <td>
       _Italic phrase_
     </td>
   </tr>
   <tr>
     <td>
       <ul>
         <li>Bulleted list</li>
         <li>Bulleted list</li>
       </ul>
     </td>
     <td>
         * Bulleted list<br />
         * Bulleted list
     </td>
   </tr>
   <tr>
     <td>
       <ol>
         <li>Numbered list</li>
         <li>Numbered list</li>
       </ol>
     </td>
     <td>
         # Numbered list<br />
         # Numbered list
     </td>
   </tr>
   <tr>
     <td><a href="http://www.github.com">github.com</a></td>
     <td>"github":http://github.com</td>
   </tr>
   <tr>
     <td>Put img here</td>
     <td>!http://37signals.com/logo.gif!</td>
   </tr>
 </table>
