<% throw_content :right do %>
  <h4>Edit Article</h4>
  <p>
	Here you can edit an existing article.
  </p>
<% end %>

<h1>Edit <%= @article.title %></h1>

<% form_for :article, :action => url(:admin_article, @article), :method => :put do %>
  <%= partial 'form' %>
  <%= submit_button 'Save Article' %> or <%= link_to 'Cancel', url(:admin_articles) %>
<% end %>