<% throw_content :right do %>
  <h4>View Articles</h4>
  <p>
	Here you can view existing articles.
  </p>
<% end %>

<h1>View Articles</h1>

<table>
	<tr>
		<th>Title</th>
		<th>Published</th>
		<th>By</th>
		<th></th>
	</tr>		
  <%= partial('admin/articles/article', :with => @articles) %>
</table>
<br />
<%= link_to "New article", url(:new_admin_article) %>