- throw_content :right do 
%h4
  What is the Dashboard?
%p
  Your dashboard is a place where you can see recent activity, and access the rest of the admin area to manage your Feather blog.
- end
%h1
  Welcome to Feather
  %span#feather-tagline
    The simplest blog that works
.info_container
  %div
    %strong
      Quick start links
    %ul
      %li
        = link_to "Write an article", url(:new_admin_article) 
      %li
        = link_to "Change your settings", url(:admin_configurations) 
#activity_stream
  %h4
    Recent Activity
  - @activity.each do |activity| 
  = activity.message 
  = render_relative_date(activity.created_at) 
  %br/
  - end 
