<% throw_content :right do %>
  <h4>What is the Dashboard?</h4>
  <p>
    Your dashboard is a place where, oh I don't know what the deuce it does!
  </p>
<% end %>

<h1>Welcome to Feather</h1>

<p>
  <strong>Quick start links</strong>
  <ul>
    <li><a href="#">Add Categories</a></li>
    <li><a href="#">Write an article</a></li>
    <li><a href="#">Change your theme</a></li>
	<li><%= link_to "Change your settings", url(:admin_settings) %></li>
  </ul>
</p>

<p>
  <h4>Recent Activity</h4>
  It appears this is a brand new blog!
</p>