body {
	margin: 0;
	padding: 0;
	background: #e5e5e5;
	font-family: 'Lucida Grande', Arial, Helvetica, sans-serif;
}

a { 
  color: #000066; 
}

label {
  display: block;
}

#wrap {
	width: 92%;
	margin: 0 auto;
	min-width: 760px;
}

#content {
	margin: 1em 0;
	width: 75%;
  float: left;
	min-width: 425px;
	min-height: 165px;
	font-size: 0.92em;
}

#content .pad {
  background: #FFFFFF url(../images/right-bg.gif) repeat-y scroll right center;
}

.pad {
  padding: 25px;
}

#notifications {
	color: green;
}

#content .bot_shadow  {
  background: transparent url(../images/bottom-bg.gif) no-repeat scroll right top; 
  font-size: 8px; 
}

#header {
	background: #303030;
	padding: 10px 4%;
	border-bottom: 3px solid #999;
	font-family: Trebuchet MS;
	float: left;
	width: 92%;
}

#header h1,
#header h1 a {
	font-weight: normal;
	margin: 0;
	color: #FFFF00;
	border: 0;
	text-decoration: none;
}

#link-to-blog {
  font-weight: bold;
  font-size: 0.99em;
	float: left;
	color: #FFFFFF;
}

#link-to-blog a {
  color:#FFFFFF;
}

#header ul#nav {
	float: right;
	list-style-type: none;
	margin: 0;
	margin-top: 0.4em;
}

#header ul#nav li {
	color: white;
	font-family: 'Trebuchet MS','Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.95em;
	float:left;
	margin-left: .5em;
}

#header ul#nav li a
{
	display:block;
	float:left;
	color: #FFFF00;
	text-decoration: none;
}

#right {
	margin-top: 1em;
	float: left;
	width: 19%;
	font-family: 'Lucida Grande', 'Trebuchet MS', Arial, Helvetica, sans-serif;
	margin-left: 1.25em;
	margin-left: 3%;
	margin-right: 0;
	font-size: 0.85em;
}

#right p {
  font-size: 0.9em;
}

#footer {
	margin-bottom:1em;
	font-family:'Lucida Grande', Tahoma, Arial, Helvetica, sans-serif;
	font-size:0.75em;
	color:#333;
	
	width: 75%;
  min-width:545px;
/*  padding:0px 15px;*/
	margin-bottom:3.5em;
}

img { border-width:0; }

.highlight {
  background-color: #FFFF99;
}

.help {
  background-color: #FFFFEC;
  border: 1px solid #888888;
  font-size: 90%;
}

.help p {
  margin-left: 2%;
  margin-right: 2%;
}
  
.form {
  padding: 1px;
  margin-top: 2px;
}

fieldset {
  border: 0;
}

a.add {
 background-image: url(../images/add.png);
 background-repeat:no-repeat;
 background-position: left center;
 padding-left: 20px;
 
}

.hint {
  color: #666666;
  font-size: 0.8em;
}

label {
  font-weight: bold;
}


#textile_guide  {
  font-size: 0.8em;
}

#feather-tagline {
	display: block;
  font-size: 0.5em;
}

.info_container {
  width: 99%;
  background-color: #FFFFCC;
  border: 1px solid #CC9900;
}

.info_container div {
  padding: 10px;
}

.in_place_editing {
  font-size: 0.95em;
  padding: 10px;
}

.field_label {
  color: #585858 ;
}

.mock_label {
  font-weight: bold;
}

table.tabular { 
	border-collapse: collapse; 
}

table.tabular thead th {
	background: #303030;
	color: #fff;
	font-weight: bold;
}

table.tabular th, table.tabular td {
	padding: 4px 8px;
}

table.tabular tbody th, table.tabular tbody td {
	font-size: 0.9em;
}

#action {
 float: right; 
}

#pagination {
  padding: 10px;
}
