<h4>Formatting Content</h4>
<p>
Feather can use plugins to format your content; by default however, it is rendered as you type it, with line breaks maintained within your post. Please consult the documentation for any third-party formatters you want to use to learn the specific syntax.
</p>
