!!!
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }/
    %title
      Feather - Error
    = css_include_tag :admin, :exceptions 
    = js_include_tag :prototype, :effects, :admin, :application 
  %body
    #header
      %h1
        Feather - Error
    #wrap
      #content
        .pad
          = catch_content :for_layout
        .bot_shadow
      #right
        = catch_content :right 
      %br{ :style => "clear: both;" }/
      #footer
        %p
          %strong
            Feather is a thing by
            %a{ :href => "http://www.bloggingmyassoff.com" }
              Michael Leung
            and
            %a{ :href => "http://crazycool.co.uk" }
              Elliott Draper
        %br{ :style => "clear: both;" }/
