<% throw_content :right do %>
  <h4>View Plugins</h4>
  <p>
	Here you can view the plugins you have installed, and see which ones are active.
  </p>
<% end %>

<div id="action">
<%= link_to "Install plugin", url(:new_admin_plugin) %>
</div>

<h1>View Plugins</h1>

<table class='tabular'>
  <thead>
  	<tr>
  		<th>Name</th>
  		<th>Author</th>
  		<th>Version</th>
  		<th>Homepage</th>
  		<th>Active</th>
  		<th></th>
  	</tr>
	</thead>
	<tbody>
    <% if @plugins.any? %>
      <%= partial("plugin", :with => @plugins) %>
    <% else %>
      <tr><td colspan="6">You do not currently have any plugins installed.</td></tr>
    <% end %>
  </tbody>
</table>
<br />
