<% throw_content :right do %>
  <h4>Settings</h4>
  <p>
    This page allows you to edit the global options for your blog.
  </p>
<% end %>

<h1>Blog Settings</h1>

<% form_for :configuration, :action => url(:admin_configurations, @configuration), :method => :put do %>
  <p><%= text_control :title, :label => "Title:" %></p>
  <p><%= text_control :tag_line, :label => "Tag Line:" %></p>
  <br /><br />
  <%= submit_button 'Save Settings' %> or <%= link_to 'Cancel', url(:admin_configurations) %>
<% end %>


