<% throw_content :right do %>
  <h4>What is the Dashboard?</h4>
  <p>
    Your dashboard is a place where you can see recent activity, and access the rest of the admin area to manage your Feather blog.
  </p>
<% end %>

<h1>Welcome to Feather <span id="feather-tagline">The simplest blog that works</span></h1>

<div class="info_container">
  <div>
    <strong>Quick start links</strong>
    <ul>
      <li><%= link_to "Write an article", url(:new_admin_article) %></li>
  	  <li><%= link_to "Change your settings", url(:admin_configuration) %></li>
    </ul>
  </div>
</div>

<div id="activity_stream">
  <h4>Recent Activity</h4>
  <% @activity.each do |activity| %>
	<%= activity.message %>, <%= render_relative_date(activity.created_at) %><br />
  <% end %>
</div>
